@import url("./responsive.css");
*{
	box-sizing: border-box;
	margin: 0;
	text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
body{
	font-family: "Ubuntu", sans-serif;
	background-color: #181C4D;
}
h1{
	color: #878FE6;
}
button{
	border: 0;
	transition: .4s;
	font-family: "Ubuntu", sans-serif;
	font-weight: 600;
	border-radius: 10px;
}
body section {
	margin-left: 345px;
	width: 600px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto;
	border-radius: 10px;
}
body form input{
	padding: 5px;
	background: transparent;
	outline: none;
	border: 0;
	border-bottom: 4px solid #2895E5;
	color: #2895E5;
}
body form  #buttons{
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
body form #numbers button{
	cursor: pointer;
	outline: none;
	
	background-color: #878FE6;
	color: #181C4D;
}
body form #buttons button{
	cursor: pointer;
	outline: none;
	background-color: #2895E5;
	color: #181C4D;
}
body form #numbers button:hover{
	cursor: pointer;
	outline: none;
	background-color: #2896e59a;
	color: #181C4D;
}
body form #buttons button:hover{
	cursor: pointer;
	outline: none;
	background-color: #2896e5b4;
	color: #181C4D;
}
